.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 360px) {
  .container {
    padding: 1rem;
  }
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 1rem;
}

.header-title {
  text-align: center;
}

.marginbtm {
  margin-bottom: 1em;
}

.form {
  margin-bottom: 1rem;
}

.checkbox-wrapper {
  margin-bottom: 0.5em;
}

.button {
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: transparent;
  border: 1px solid rgb(136, 136, 136);
  transition: all 0.1s ease-in;
  outline: black;
}

.button:hover,
.button:focus {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 1px solid #000;
  text-decoration: underline;
}

.result {
  text-overflow: clip;
  margin-left: 5px;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before,
a:focus::before {
  transform: scaleX(1);
}

@supports selector(:focus-visible) {
  .button:focus {
    background-color: transparent;
    border: 1px solid rgb(136, 136, 136);
    color: initial;
    text-decoration: none;
  }

  .button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #000;
    text-decoration: underline;
  }

  .button:focus-visible {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #000;
    text-decoration: underline;
  }

  a:focus::before {
    transform: scaleX(0);
  }

  a:focus-visible::before {
    transform: scaleX(1);
  }
}
